<!-- This is a link that will take the user to the book's detail page. 
The 'href' attribute uses the book's unique 'id' to construct the URL. -->
<a href="/api/books/{{id}}">
  <!-- The book's name is displayed as a heading. 
  It's wrapped in an 'a' tag, so clicking the book name will also lead to the book's detail page. -->
  <h2>Book Name: {{name}}</h2>
  <!-- Below the book name, the book's description is shown. 
  This is also part of the clickable link. -->
  <p>Description: {{description}}</p>
</a>