<h1>Book Club</h1>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bookListPage/">Books</a></li>
    {{#if loggedIn}}
      <li><a href="" id="createClub">Create Club</a></li>
      <li><a href="/createBook">Create Book</a></li>
      <li><a href="" id="logout">Logout</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>

<hr />
{{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/createHandlers.js"></script>
{{/if}}