<h1>Book Club</h1>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bookListPage/">Books</a></li>
    <li>{{#if loggedIn}}
      <a href="/logout" id='logout'>Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
      </li>
  </ul>
</nav>

<hr />
{{#if loggedIn}}
  <script src="/js/logout.js"></script>
{{/if}}
