<h1 class="bg-[#c3b299] mt-6 p-8 font-serif tracking-widest text-center">Welcome to BookMark</h1>
<h2 class="bg-[#c3b299] tracking-widest text-center font-serif">Your Online Book Club<br><br><span class="italic">Read - Discuss - Grow</span> </h2>

<nav>
  <ul class="flex flex-row gap-8 justify-center list-none">
    <li class="rounded-full py-2 px-10 bg-[#cbd4c2] hover:bg-[#dbebc0] hover:animate-pulse"><a href="/">Home</a></li>
    <li class="rounded-full py-2 px-10 bg-[#cbd4c2] hover:bg-[#dbebc0] hover:animate-pulse"><a href="/bookListPage/">Books</a></li>
    {{#if loggedIn}}
      <li class="rounded-full py-2 px-10 bg-[#cbd4c2] hover:bg-[#dbebc0] hover:animate-pulse"><a href="" id="createClub">Create Club</a></li>
      <li class="rounded-full py-2 px-10 bg-[#cbd4c2] hover:bg-[#dbebc0] hover:animate-pulse"><a href="/createBook">Create Book</a></li>
      <li class="rounded-full py-2 px-10 bg-[#cbd4c2] hover:bg-[#dbebc0] hover:animate-pulse"><a href="" id="logout">Logout</a></li>
    {{else}}
      <li class="rounded-full py-2 px-10 bg-[#cbd4c2] hover:bg-[#dbebc0] hover:animate-pulse"><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>

<hr />
{{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/createHandlers.js"></script>
{{/if}}