<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{clubName}} Page</title>
  </head>
  <body>
    {{!-- Layout and Partials --}}
    {{> header}} <!-- If you have a header partial -->

    {{!-- Conditional Views based on User Role --}}
    {{#if isAdmin}}
      <!-- Admin Dashboard -->
      {{> adminDashboard}}
    {{else if isMember}}
      <!-- Member View -->
      {{> memberView}}
    {{else}}
      <!-- Non-member View -->
      {{> nonMemberView}}
    {{/if}}

    {{!-- Footer --}}
    {{> footer}} <!-- If you have a footer partial -->
  </body>
</html>
