<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookMark</title>
    <!-- Add your stylesheet links here -->
    <link href="/css/style.css" type="text/css" rel="stylesheet"> 
     <style>
      :root {
        --ash-gray: #cbd4c2;
        --tea-green: #dbebc0;
        --khaki: #c3b299;
        --rose-taupe: #815355;
        --violet-jtc: #523249;

      }
    </style> 
  </head>
  <body class="prose prose-zinc max-w-none bg-[var(--violet-jtc)]"> 
    <div class="container mx-auto w-full">
    {{{body}}}
    </div>
    <!-- Add your scripts at the bottom of the body to improve load performance -->
    
  </body>
</html>