{{> header}}

<ul class="book-list">

    <h2 class="underline bg-gradient-to-r from-[#c3b299] to-[#523249] -mb-12">Welcome to the BookMark Library!</h2>
    <ul class="list-none bg-gradient-to-r from-[#c3b299] to-[#cbd4c2] -mt-17 px-6">
      {{#each books}}
      <li>
        {{> book }}
      </li>
      {{/each}}
    </ul>

</ul>